:root {
    --jctAccent: #E1E7EF;
    --jctSecondary: #7A4A6D;
    --jctPrimary: #388FD3;
    --jctBackground: #F8F6F7;
    --jctText: #1F2D52;
  }
  
  body {
    display: grid;
    margin: 40px;
    padding: 0;
    overflow-x: hidden;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    gap: 20;
    background-color: var(--jctBackground);
    max-height: calc(100vh - 80px);
    max-width: calc(100vw - 80px); /* Subtract total horizontal margin */
    box-sizing: border-box;
  }
  
  nav.navbar {
    border-radius: 15px;
    grid-column: 13;
    grid-row: 1 / -1;
    background-color: var(--jctAccent);
    min-width: 0;
    min-height: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav.navbar:hover{
    grid-column: 12 13;
  }
  .logo.mr-1 {
    max-width: 50px;
    padding: 21px;
  }

  .moremenu .nav-link {
    color: var(--jctText);
    font-family: 'Fb CoherentiSansEnHeb';
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  